@page
@model FileUpload.Pages.UploadModel
@{
}

<h1>New file upload</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Upload" class="control-label">File</label>
                <input type="file" asp-for="Upload" class="form-control-file" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-page="/Index">Back</a>
            </div>
</form>
    </div>
</div>